.colors-panel {
  position: absolute;
  cursor: pointer;
}

.color-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color {
  width: 20px;
  height: 20px;
}

.color.active {
  width: 40px;
  transition: width .25s ease;
}