.container {
  height: 100vh;
  overflow: hidden;
}

.canvas {
  background-color: #fff;
}

.body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
}
